@charset "utf-8";
body{
	background-color:beige
}

img {width: 400px}

img{border-radius: 20px}

@keyframes myAnimation {
  from {width: 400px;}
  to {width: 500px;}
}
img:hover{
animation-name: myAnimation;
animation-duration: 0.5s;
animation-fill-mode: forwards;
box-shadow: 0px 5px 10px black;
}


h3{color: yellow;
text-shadow: 2px 2px 5px lightgreen;
	font-size: 50px
}

